<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Sair</servlet-name>
  	<display-name>Sair</display-name>
  	<description></description>
  	<servlet-class>eco_house.controller.Sair</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Index</servlet-name>
  	<display-name>Index</display-name>
  	<description></description>
  	<servlet-class>eco_house.controller.Index</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Usuario</servlet-name>
  	<display-name>Usuario</display-name>
  	<description></description>
  	<servlet-class>eco_house.controller.Usuario</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CadastrarDomicilio</servlet-name>
  	<display-name>CadastrarDomicilio</display-name>
  	<description></description>
  	<servlet-class>eco_house.controller.CadastrarDomicilio</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Home</servlet-name>
  	<display-name>Home</display-name>
  	<description></description>
  	<servlet-class>eco_house.controller.Home</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Start</servlet-name>
  	<display-name>Start</display-name>
  	<description></description>
  	<servlet-class>eco_house.controller.Start</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DomicilioPage</servlet-name>
  	<display-name>DomicilioPage</display-name>
  	<description></description>
  	<servlet-class>eco_house.controller.DomicilioPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdicionarLixo</servlet-name>
  	<display-name>AdicionarLixo</display-name>
  	<description></description>
  	<servlet-class>eco_house.controller.AdicionarLixo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoverLixo</servlet-name>
  	<display-name>RemoverLixo</display-name>
  	<description></description>
  	<servlet-class>eco_house.controller.RemoverLixo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SobreNos</servlet-name>
  	<display-name>SobreNos</display-name>
  	<description></description>
  	<servlet-class>eco_house.controller.SobreNos</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AlterarDomicilio</servlet-name>
  	<display-name>AlterarDomicilio</display-name>
  	<description></description>
  	<servlet-class>eco_house.controller.AlterarDomicilio</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Sair</servlet-name>
  	<url-pattern>/Sair</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Index</servlet-name>
  	<url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Usuario</servlet-name>
  	<url-pattern>/Usuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CadastrarDomicilio</servlet-name>
  	<url-pattern>/CadastrarDomicilio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Home</servlet-name>
  	<url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Start</servlet-name>
  	<url-pattern>/Start</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DomicilioPage</servlet-name>
  	<url-pattern>/DomicilioPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdicionarLixo</servlet-name>
  	<url-pattern>/AdicionarLixo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoverLixo</servlet-name>
  	<url-pattern>/RemoverLixo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SobreNos</servlet-name>
  	<url-pattern>/SobreNos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AlterarDomicilio</servlet-name>
  	<url-pattern>/AlterarDomicilio</url-pattern>
  </servlet-mapping>
</web-app>
